## PHASE 2 — LOOPING & PATTERNS (ITERATION & FLOW)

### Level 1: Basic Looping

In [4]:
# 1. Print numbers from 1 to 10.

for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [8]:
# 2. Print all even numbers between 1 and 100.

for i in range(1,101):
    if i%2==0:
        print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [10]:
# 3. Print all odd numbers between 1 and 100.

for i in range(1,101):
    if i%2!=0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [20]:
# 4. Print numbers from 10 down to 1.

i = 10
while i>0:
    print(i)
    i-=1

10
9
8
7
6
5
4
3
2
1

In [24]:
# 5. Print the table of a given number (n × 1 to n × 10).

n = int(input("Enter the number"))
for i in range(1,11):
    print(n, " X ",i,"=",n*i)

Enter the number 2

2  X  1 = 2
2  X  2 = 4
2  X  3 = 6
2  X  4 = 8
2  X  5 = 10
2  X  6 = 12
2  X  7 = 14
2  X  8 = 16
2  X  9 = 18
2  X  10 = 20

In [30]:
# 6. Print the sum of first n natural numbers.

n = int(input("Enter the number"))
summ = 0
for i in range(1,n+1):
    summ += i
print(summ)

Enter the number 2

3

In [32]:
# 7. Print the sum of all even numbers up to n.

n = int(input("Enter the number"))
summ = 0
for i in range(1,n+1):
    if i%2==0:
        summ += i
print(summ)

Enter the number 5

6

In [34]:
# 8. Print the sum of all odd numbers up to n.

n = int(input("Enter the number"))
summ = 0
for i in range(1,n+1):
    if i%2!=0:
        summ += i
print(summ)

Enter the number 5

9

In [42]:
# 9. Print the factorial of a given number.

n = int(input("Enter the number"))
fact = 1
for i in range(1,n+1):
    fact = fact * i
    i+=1
print(fact)

Enter the number 5

120

In [50]:
# 10. Print the product of digits of a given number.

n = int(input("Enter the number"))
prod = 1
temp = n
while temp > 0:
    digit = temp%10
    prod *= digit
    temp //= 10
print(prod)

Enter the number 34

12

### Level 2: Number-based Looping Logic

In [57]:
# 1. Count the number of digits in a given number.

n = int(input("Enter the number"))
count = 0
temp = n
while temp>0:
    digit = temp%10
    count += 1
    temp //= 10
print(count)

Enter the number 123450

6

In [61]:
# 2. Print the reverse of a given number.

n = int(input("Enter the number"))
temp = n
rev = 0
while temp>0:
    digit = temp%10
    rev = rev * 10 + digit
    temp //= 10

print(rev)

Enter the number 12345

54321

In [73]:
# 3. Check if a number is a palindrome.

n = int(input("Enter the number"))
temp = n
pal = 0

while temp>0:
    digit = temp%10
    pal = pal * 10 + digit
    temp //= 10

if n == pal:
    print("Palindrome Number")
else:
    print("Not a Palindrome Number")

Enter the number 1221

Palindrome Number

In [79]:
# 4. Find the sum of digits of a number.

n = int(input("Enter the number"))
summ = 0
temp = n
while temp>0:
    digit = temp%10
    summ += digit
    temp //= 10
print(summ)

Enter the number 123456789

45

In [85]:
# 5. Check if a number is an Armstrong number.

n = int(input("Enter the number"))
arm = 0
temp = n
while temp>0:
    digit = temp%10
    arm += (digit*digit*digit)
    temp //= 10
if arm == n:
    print("Armstrong Number")
else:
    print("Not an Armstrong Number")

Enter the number 153

Armstrong Number

In [99]:
# 6. Check if a number is a perfect number.

n = int(input("Enter the number"))
per = 1
for i in range(1,n+1):
    if i*i==n:
        print(i,"is the perfect square of",n)
        break

Enter the number 25

5 is the perfect square of 25

In [129]:
# 7. Print all prime numbers between 1 and 100.

for num in range(2,101):
    prime = True
    for i in range(2,num):
        if num%i==0:
            prime = False
            break
    if prime:
        print(num,end=" ")

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [161]:
# 8. Check if a number is prime or not.

n = int(input("Enter the number"))
prime = True
for i in range(2, int(n**0.5) +1):
    if n%i==0:
        prime = False
        break
if prime and n>1:
    print(n,"is a Prime Number")
else:
    print(n,"is not a Prime Number")

Enter the number 9

9 is not a Prime Number

In [171]:
# 9. Print Fibonacci series up to n terms.
# F(n) = F(n-1) + F(n-2)

n = int(input("Enter the number"))
a = 0
b = 1
for i in range(n):
    print(a,end=" ")
    a, b = b, a+b

Enter the number 10

0 1 1 2 3 5 8 13 21 34

In [179]:
# 10. Print sum of first n terms of Fibonacci series.

n = int(input("Enter the number"))
a = 0
b = 1
summ = 0
for i in range(n):
    summ += a
    a, b = b, a+b
print(summ)

Enter the number 7

20

### Level 3: Mathematical & Logical Patterns

In [181]:
# 1. Print the squares of numbers from 1 to n.

n = int(input("Enter the Nth number"))
for i in range(1,n+1):
    sq = i*i
    print(f"Square of {i} is",sq)

Enter the Nth number 7

Square of 1 is 1
Square of 2 is 4
Square of 3 is 9
Square of 4 is 16
Square of 5 is 25
Square of 6 is 36
Square of 7 is 49

In [183]:
# 2. Print cubes of numbers from 1 to n.

n = int(input("Enter the Nth number"))
for i in range(1,n+1):
    cube = i*i*i
    print(f"Cube of {i} is",cube)

Enter the Nth number 7

Cube of 1 is 1
Cube of 2 is 8
Cube of 3 is 27
Cube of 4 is 64
Cube of 5 is 125
Cube of 6 is 216
Cube of 7 is 343

In [191]:
# 3. Print all numbers between a and b divisible by 7.

a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
for i in range(a,b+1):
    if i%7==0:
        print(i)

Enter the first number 10
Enter the second number 40

14
21
28
35

In [195]:
# 4. Find HCF (GCD) of two numbers using loops.

a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
while b!=0:
    a,b=b,a%b
print(a)

Enter the first number 12
Enter the second number 14

2

In [203]:
# 5. Find LCM of two numbers using loops.

a = int(input("Enter the first number"))
b = int(input("Enter the second number"))
lcm = max(a,b)
while True:
    if lcm%a==0 and lcm%b==0:
        print(lcm)
        break
    lcm+=1

Enter the first number 12
Enter the second number 18

36

In [205]:
# 6. Print all factors of a given number.

a = int(input("Enter the first number"))
for i in range(1,a+1):
    if a%i==0:
        print(i)

Enter the first number 12

1
2
3
4
6
12

In [207]:
# 7. Find the sum of all factors of a number.

a = int(input("Enter the first number"))
summ = 0
for i in range(1,a+1):
    if a%i==0:
        summ += i
print(summ)

Enter the first number 12

28

In [223]:
# 8. Check if a number is a strong number (sum of factorials of digits = number).

a = int(input("Enter the number"))
summ = 0
temp = a
while temp>0:
    digit = temp % 10
    fact = 1
    for i in range(1,digit+1):       
        fact *= i
    summ += fact
    temp //= 10
if summ == a:
    print(f"Number {a} is a Strong Number")
else:
    print(f"Number {a} is not a Strong Number")

Enter the number 145

Number 145 is a Strong Number

In [225]:
# 9. Print first n terms of an arithmetic progression (a, d).

a = int(input("Enter the first term (a): "))
d = int(input("Enter the common difference (d): "))
n = int(input("Enter number of terms (n): "))

print("Arithmetic Progression:")

for i in range(n):
    term = a + i * d
    print(term)

Enter the first term (a):  7
Enter the common difference (d):  5
Enter number of terms (n):  5

Arithmetic Progression:
7
12
17
22
27

In [227]:
# 10. Print first n terms of a geometric progression (a, r).

a = int(input("Enter the first term (a): "))
r = int(input("Enter the common ratio (r): "))
n = int(input("Enter number of terms (n): "))

print("Geometric Progression:")

for i in range(n):
    term = a * (r ** i)
    print(term)

Enter the first term (a):  5
Enter the common ratio (r):  2
Enter number of terms (n):  5

Geometric Progression:
5
10
20
40
80

### Level 4: Pattern Printing (Stars & Numbers)

In [230]:
# 1. Print a Single Star (*)

print("*")

*

In [232]:
# 2. Print Four Stars (****)

print("****")

****

In [248]:
# 3. Print n Stars on Same Line

n = int(input("Enter the Nth number"))
for i in range(n):
    print("*",end="")

Enter the Nth number 5

*****

In [260]:
# 4. Print Square of Stars (n x n Stars)

n = int(input("Enter number of stars: "))
for i in range(1,n+1):
    print("*"*n)

Enter number of stars:  5

*****
*****
*****
*****
*****

In [262]:
# 5. Print an Increasing Triangle of Stars
# *
# **

n = int(input("Enter number of stars: "))
for i in range(1,n+1):
    print("*"*i)

Enter number of stars:  5

*
**
***
****
*****

In [286]:
# 6. Print a Right-Aligned Triangle of Stars
#  *
# **

n = int(input("Enter number of stars: "))
for i in range(1,n+1):
    print(" "*(n-i) +"*"*i)

Enter number of stars:  5

    *
   **
  ***
 ****
*****

In [292]:
# 7. Print Stars in Even Numbers (2, 4, 6, 8, 10)

for i in range(2,11,2):
    print("*"*i)

**
****
******
********
**********

In [294]:
# 8. Print Stars in Odd Numbers (1, 3, 5, 7, 9)

for i in range(1,10,2):
    print("*"*i)

*
***
*****
*******
*********

In [302]:
# 9. Print a Centered Pyramid of Stars

n = int(input("Enter number of stars: "))
for i in range(1,n+1):
    print(" "*(n-i) + "*"*(2*i-1))

Enter number of stars:  5

    *
   ***
  *****
 *******
*********

In [322]:
# 10. Print Stars and Spaces Alternating (Stars and Blank Spaces)
# bbbb*
# bbb*b*
# bb*b*b*

# n = int(input("Enter number of stars: "))
# for i in range(1,n+1):
#     print("b"*(n-i) + "*"*i)

n = int(input("Enter number of lines: "))
for i in range(1, n+1):
    print("b"*(n-i), end="")        
    for j in range(i):
        print("*", end="")        
        if j != i-1:
            print("b", end="")         
    print()

Enter number of lines:  4

bbb*
bb*b*
b*b*b*
*b*b*b*

In [327]:
# Tower

n = int(input("Enter number of stars: "))
for i in range(1,n+1):
    for j in range(0,i):
        print("* "*i)

Enter number of stars:  5

*
* *
* *
* * *
* * *
* * *
* * * *
* * * *
* * * *
* * * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [363]:
# 11. Print Numbers in an Increasing Sequence (1, 12, 123, 1234, 12345)

n = int(input("Enter the number"))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end="")
    print()

Enter the number 5

1
12
123
1234
12345

In [339]:
# 12. Print Repeated Numbers per Row (Same Number Repeated eg. 1,22,333) 

n = int(input("Enter the number"))
for i in range(1,n+1):
    for j in range(i):
        print(i,end=" ")
    print()

Enter the number 5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [383]:
# 13. 1\n 2 3 \n 4 5 6 \n 7 8 9 10

n = 1
for i in range(1,5):
    for j in range(i):
        print(n, end=" ")
        n+=1
    print()

1
2 3
4 5 6
7 8 9 10

In [387]:
# 14. 1\n 2 3 \n 4 5 6 \n 7 8 9 0 \n 1 2 3 4 5 \n 6 7 8 9 0 1

n = 1
for i in range(1,7):
    for j in range(i):
        print(n%10, end=" ")
        n+=1
    print()

1
2 3
4 5 6
7 8 9 0
1 2 3 4 5
6 7 8 9 0 1

In [389]:
# 15. 1, 0 1, 0 1 0

n = 1
for i in range(1,5):
    for j in range(i):
        print(n, end=" ")
        n=1-n
    print()

1
0 1
0 1 0
1 0 1 0

In [395]:
# 16. a, b c, d e f

ch = ord('a')
for i in range(1,5):
    for j in range(i):
        print(chr(ch), end=" ")
        ch+=1
    print()

a
b c
d e f
g h i j

In [403]:
# 17. a, bb, ccc

ch=ord('a')
for i in range(1,5):
    for j in range(i):
        print(chr(ch),end=" ")
    ch+=1
    print()

a
b b
c c c
d d d d

In [417]:
# 18. a, ab, abc, abcd


for i in range(1,5):
    ch=ord('a')
    for j in range(1,i+1):
        print(chr(ch),end=" ")  
        ch+=1
    print()

a
a b
a b c
a b c d

In [425]:
# 19. centered pyramid for alphabets

ch = ord('a')
for i in range(1,5):
    print(" "*(5-i)+chr(ch)*(2*i-1))
    ch+=1

    a
   bbb
  ccccc
 ddddddd

In [437]:
# 20. 1, 12, 123, 1234

rows = 6
for i in range(1, rows + 1):
    print(" " * (rows - i), end="")  
    for j in range(1, i + 1):
        print(j, end=" ")  
    print()

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5
1 2 3 4 5 6

In [443]:
# 21. centered - 1, 121, 12321, 1234321

rows = 5

for i in range(1, rows + 1):
    print(" " * (rows - i), end="")         
    for j in range(1, i + 1):
        print(j, end=" ")
    for j in range(i - 1, 0, -1):
        print(j, end=" ")   
    print()

    1
   1 2 1
  1 2 3 2 1
 1 2 3 4 3 2 1
1 2 3 4 5 4 3 2 1

In [447]:
# 22. horizontal - *, **, ***, **, *

pattern = [1, 2, 3, 2, 1]
for n in pattern:
    print("*" * n, end="  ")  
    print()

*
**
***
**
*

In [451]:
# 23. vertical - *, ***, *****, ***, *

pattern = [1, 3, 5, 3, 1]   
rows = len(pattern)
for n in pattern:
    spaces = (max(pattern) - n) // 2   
    print(" " * spaces + "*" * n)

  *
 ***
*****
 ***
  *

In [453]:
# 24. centered - 5, 545, 54345, 5432345, 543212345

rows = 5
for i in range(1, rows + 1):
    print("  " * (rows - i), end="")
    for j in range(5, 5 - i, -1):
        print(j, end=" ")
    for j in range(5 - i + 2, 6):
        print(j, end=" ")
    print()

        5
      5 4 5
    5 4 3 4 5
  5 4 3 2 3 4 5
5 4 3 2 1 2 3 4 5

In [431]:
rows = 7 

for i in range(rows):
    print(" " * (rows - i - 1), end="")
    ch = ord('A')
    for j in range(i + 1):
        print(chr(ch), end=" ")
        ch += 1
    print()

      A
     A B
    A B C
   A B C D
  A B C D E
 A B C D E F
A B C D E F G

In [435]:
ch = ord('a')
rows = 6

for i in range(1, rows + 1):
    print(" " * (rows - i), end="")      
    for j in range(i):
        print(chr(ch), end=" ")
        ch += 1  
    print()

     a
    b c
   d e f
  g h i j
 k l m n o
p q r s t u

### Level 5: Logical Loop Combinations

In [470]:
# 1. Print all numbers whose sum of digits is even (1–100).

for i in range(1,100):
    if (i%10 + i//10) %2 == 0:
        print(i)

2
4
6
8
11
13
15
17
19
20
22
24
26
28
31
33
35
37
39
40
42
44
46
48
51
53
55
57
59
60
62
64
66
68
71
73
75
77
79
80
82
84
86
88
91
93
95
97
99

In [472]:
# 2. Count how many numbers between 1–500 are divisible by 7 but not by 5.

for i in range(1,500):
    if i%7==0 and i%5!=0:
        print(i)

7
14
21
28
42
49
56
63
77
84
91
98
112
119
126
133
147
154
161
168
182
189
196
203
217
224
231
238
252
259
266
273
287
294
301
308
322
329
336
343
357
364
371
378
392
399
406
413
427
434
441
448
462
469
476
483
497

In [476]:
# 3. Print all numbers that are palindromes between 1–500.

for i in range(1,500):
    temp = i
    pal = 0
    while temp>0:
        digit = temp%10
        pal = pal*10 + digit
        temp //= 10
    if i == pal:
        print(i)

1
2
3
4
5
6
7
8
9
11
22
33
44
55
66
77
88
99
101
111
121
131
141
151
161
171
181
191
202
212
222
232
242
252
262
272
282
292
303
313
323
333
343
353
363
373
383
393
404
414
424
434
444
454
464
474
484
494

In [484]:
# 4. Print numbers between 1–100 whose digits add up to a multiple of 3.

for i in range(1,100):
    temp = i
    add = 0
    while temp>0:
        digit = temp%10
        add = add + digit
        temp //= 10
    if add%3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [492]:
# 5. Find the smallest and largest digit in a given number.

num = int(input("Enter a number :"))

small = 9
large = 0
temp = num
while temp > 0:
    digit = temp % 10 
    if digit < small:
        small = digit
    if digit > large:
        large = digit  
    temp //= 10

print("Smallest digit :", small)
print("Largest digit :", large)

Enter a number : 3256188393

Smallest digit : 1
Largest digit : 9

In [520]:
# 6. Print all numbers from 1–n whose binary representation has an even number of 1s.

n = int(input("Enter a number: "))
for i in range(1, n + 1):
    binary = bin(i)[2:]       
    ones = binary.count("1")  
    if ones % 2 == 0:         
        print(i, "->", binary)

Enter a number:  11

3 -> 11
5 -> 101
6 -> 110
9 -> 1001
10 -> 1010

In [516]:
# 7. Print a pattern where each row i prints i*i.

n = int(input("Enter number of rows: "))
for i in range(1, n + 1):
    print(i * i)

Enter number of rows:  5

1
4
9
16
25

In [514]:
# 8. Print factorial of each number from 1 to n.

num = int(input("Enter a number :"))
fact = 1
for i in range(1,num+1):
    fact = i * fact
    print(f"Factorial of {i} is {fact}")

Enter a number : 5

Factorial of 1 is 1
Factorial of 2 is 2
Factorial of 3 is 6
Factorial of 4 is 24
Factorial of 5 is 120

In [528]:
# 9. Print the sum of all odd digits and even digits separately in a number.

num = int(input("Enter a number: "))
odd_sum = 0
even_sum = 0
temp = num
while temp > 0:
    digit = temp % 10   
    if digit % 2 == 0:
        even_sum += digit
    else:               
        odd_sum += digit
    temp //= 10         

print("Sum of even digits :", even_sum)
print("Sum of odd digits  :", odd_sum)

Enter a number:  34

Sum of even digits : 4
Sum of odd digits  : 3

In [532]:
# 10. Take 5 numbers as input. If the user enters 0, skip it using continue. 
# At the end, print the sum of all non-zero numbers entered.

total = 0
for i in range(5):
    num = int(input("Enter a number: "))
    if num == 0:    
        continue    
    total += num     

print("Sum of non-zero numbers:", total)

Enter a number:  1
Enter a number:  9
Enter a number:  0
Enter a number:  1
Enter a number:  4

Sum of non-zero numbers: 15